.search-results-container {
    background: var(--popup-search);
    width: 333px;
    min-height: 50px;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden
}

.search-results-container .search-results-inner-container {
    width: 100%;
    max-height: 400px;
    width: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    padding-right: 17px;
    background-color: var(--popup-background)
}

.search-results-container .no-results {
    color: var(--popup-text);
    padding: 15px
}

.search-results-container .game-result-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,.1)
}

.search-results-container .game-result-row:hover,.search-results-container .game-result-row.selected {
    background-color: var(--popup-search-selected);
    cursor: pointer
}

.search-results-container .game-result-row:first-child {
    padding: 10px 10px 5px
}

.search-results-container .game-result-row.last-child {
    padding: 5px 10px 10px
}

.search-results-container .game-result-row .game-image {
    order: 1;
    width: 70px;
    height: 50px;
    background-size: auto 100%
}

.search-results-container .game-result-row .game-title {
    padding: 0 10px;
    order: 2
}


.search-results-container .game-result-row .game-title .game-studio {
    width: 100%;
    display: block;
    opacity: .4;
    text-transform: uppercase;
    font-size: 80%
}

.mobile .search-results-container .game-result-row:hover {
    background-color: #0000001a;
    cursor: pointer
}

.mobile .search-results-container .game-result-row:hover .game-title .game-name,.mobile .search-results-container .game-result-row:hover .game-title .game-studio {
    color: var(--popup-dark-text)
}

.mobile .search-results-container .game-result-row.selected {
    background-color: transparent;
    cursor: pointer
}

.mobile .search-results-container .game-result-row.selected .game-title .game-name,.mobile .search-results-container .game-result-row.selected .game-title .game-studio {
    color: var(--popup-dark-text)
}

.search-container button {
    background: transparent!important;
    background-color: transparent!important;
    color: var(--search-input-text);
    opacity: .5;
    padding-top: 4px
}

.search-container button i {
    font-size: 20px
}

.search-container {
    margin-left: auto;
    order: 2;
    width: auto;
    font-size: 90%
}

@media (max-width: 992px) {
    .search-container {
        margin-top:0;
        margin-right: auto
    }
}

.search-container .input-group {
    padding: 0;
    height: auto;
    outline: none;
    border: none;
    border-radius: 25px
}

.search-container .input-group .form-control {
    background: transparent;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px
}

.search-container .btn {
    color: var(--search-input-text);
    opacity: .4;
    padding-right: 20px;
    display: flex;
    align-items: center
}

.search-container button {
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    padding-right: 10px
}

.search-container input:focus,.search-container input {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none
}
