.bonus-filter-container {
    padding-top: 0;
    padding-bottom: 0
}

.bonus-casino-filter {
    background: var(--panel-background);
    width: 300px;
    padding: 15px;
    border-radius: .5rem;
    text-align: left;
    display: flex
}

.bonus-casino-filter .left-content {
    width: 80%;
    display: flex;
    align-items: flex-start;
    flex-direction: column
}

.bonus-casino-filter .right-content {
    display: flex;
    justify-content: right;
    width: 20%
}

.bonus-casino-filter .casino-bonus-title {
    display: block
}

.bonus-casino-filter .casino-bonus-description {
    font-size: 10px;
    display: block;
    opacity: .5
}

.mobile .categories-container {
    display: block
}

.mobile .bonus-casino-filter {
    width: 100%
}

.casino-container {
    margin-top: calc(var(--head-bigscreen-height) * -1);
    margin-top: 50px;
    width: 100%;
    padding-bottom: 3rem
}

.casino-container .carousel {
    min-height: 400px
}

.casino-container .search-and-filter-container {
    align-items: center
}

.casino-container .search-and-filter-container.loading {
    height: 42px
}

.casino-container .search-and-filter-wrapper {
    background-color: #0000004d;
    padding: 10px 0
}

.casino-container .filter-description {
    font-size: 14px;
    padding: 0 10px;
    display: flex;
    gap: 5px
}

.casino-container .filter-description h1 {
    color: var(--cta);
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 500;
    font-size: 1rem !important
}

.casino-container .filter-description span {
    display: flex;
    gap: 5px
}

.casino-container .filter-description strong {
    color: var(--cta)
}

.casino-container .search-column {
    justify-content: right
}

.casino-container .filter-column {
    display: flex;
    align-items: center
}

.casino-container .filter-games-label {
    opacity: .4;
    text-transform: uppercase;
    font-size: 12px
}

.casino-container a.clear-link {
    font-size: 16px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    padding: 5px 15px 5px 10px
}

.casino-container a.clear-link i {
    font-size: 14px
}

.casino-filters-container {
    display: flex;
    flex-direction: row;
    align-items: center
}

.casino-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    cursor: pointer
}

.casino-filter.active {
    color: var(--cta)
}

.casino-filter i {
    margin-left: 2px
}

.filter-container {
    position: absolute;
    z-index: 100;
    background: var(--popup-background);
    width: 300px;
    border-radius: 5px;
    padding: 0;
    margin: 0 auto;
    top: 0
}

.filter-container .disallowed {
    opacity: .5;
    margin-bottom: 10px
}

.filter-container .no-results {
    color: var(--popup-text)
}

.filter-container .close-container {
    float: right;
    padding: 15px 20px;
    cursor: pointer
}

.filter-container.studio-filter {
    left: 140px
}

.filter-container.feature-filter {
    left: 250px
}

.filter-container .filter-title {
    font-size: 18px;
    padding: 15px 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--popup-text)
}

.filter-container .section-title {
    font-size: 16px;
    padding: 10px 10px 0 25px;
    font-weight: 600;
    color: var(--popup-text);
    text-transform: uppercase
}

.filter-container .section-title.with-action {
    padding: 10px 10px 10px 25px;
    display: flex
}

.filter-container .section-title.with-action .title {
    display: flex;
    width: 70%
}

.filter-container .section-title.with-action .clear-all {
    justify-content: flex-end;
    display: flex;
    width: 30%;
    color: var(--popup-link-color);
    font-size: 14px;
    padding-right: 10px;
    padding-top: 3px;
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize
}

.filter-container .section-title.with-action .clear-all:hover .action-text {
    text-decoration: underline
}

.filter-container .section-title.with-action .clear-all .material-icons {
    font-size: 20px
}

.filter-container .section-help {
    font-size: 14px;
    opacity: .7;
    padding: 10px 10px 0 25px;
    font-weight: 400;
    color: var(--popup-text);
    margin-top: -10px;
    margin-bottom: 10px
}

.filter-container .no-results {
    padding: 10px 25px
}

.filter-container .studio-item {
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    cursor: pointer;
    justify-items: center;
    align-items: center
}

.filter-container .studio-item.active {
    background: var(--primary)
}

.filter-container .studio-item.active .studio-name {
    color: var(--primary-text)
}

.filter-container .studio-image {
    width: 50px;
    height: 50px;
    margin-right: 10px
}

.filter-container .studio-name {
    width: 75%;
    color: var(--popup-text);
    font-family: var(--button-font);
    font-weight: 700
}

.filter-scroll-container {
    height: 300px
}

.mobile .filter-scroll-container {
    height: 100%
}

.mobile .filter-scroll-inner {
    padding-bottom: 120px
}

.mobile .filter-container {
    overflow: hidden;
    position: fixed;
    inset: 1%;
    z-index: 1200;
    display: block;
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column
}

.mobile .casino-filters-container {
    margin-bottom: 10px
}

.action-container {
    display: block;
    padding: 10px;
    box-shadow: 0 -2px 2px #0000001a
}

.show-all {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}

.studio-images {
    grid-gap: 0;
    gap: 1%;
    flex-wrap: wrap
}

.studio-images .game-play-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%)
}

.studio-images .game-play-button .click-to-play i {
    font-size: 400%;
    opacity: .7
}

.studio-images .content-overlay {
    background-color: #000000a3;
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    border-radius: 4px;
    display: none
}

.studio-images .studio-image-container {
    border-radius: 4px;
    width: 32.666%;
    margin-bottom: 1%;
    cursor: pointer;
    position: relative
}

@media (max-width: 576px) {
    .studio-images .studio-image-container {
        margin-bottom: 2%
    }
}

.studio-images .studio-image-container:hover .content-overlay,
.studio-images .studio-image-container:hover .game-play-button {
    display: block
}

.studio-images .studio-image {
    border-radius: 4px;
    box-shadow: none;
    width: auto;
    max-width: 100%
}

@media (max-width: 992px) {
    .studio-images .studio-image-container {
        width: 49.5%
    }
}

@media (max-width: 576px) {
    .studio-images .studio-image-container {
        width: 100%
    }
}

.casino-games-container {
    width: 100%;
    padding: 0
}

.casino-games-container .gameListSection .section-outer .inner-section .container-inner {
    grid-gap: 0;
    gap: 0;
    flex-wrap: wrap
}

.casino-games-container .gameListSection .section-outer .inner-section .container-inner .card-wrapper {
    border-radius: 4px;
    padding-right: .5%;
    width: 33.333%;
    margin-bottom: 1%
}

@media (max-width: 992px) {
    .casino-games-container .gameListSection .section-outer .inner-section .container-inner .card-wrapper {
        width: 50%
    }
}

@media (max-width: 576px) {
    .casino-games-container .gameListSection .section-outer .inner-section .container-inner .card-wrapper {
        width: 100%;
        margin-bottom: 15px
    }
}

.casino-games-container .gameListSection .section-outer .inner-section .container-inner .card-wrapper .card-game-list .bg {
    border-radius: 4px;
    box-shadow: none;
    width: auto;
    max-width: 100%
}

.casino-games-container .gameListSection .section-outer .inner-section.desktop {
    margin-right: 0
}

@media (max-width: 576px) {
    .casino-games-container .gameListSection .section-outer .inner-section.desktop .container-inner .card-wrapper .card-game-list .bg {
        width: 100%
    }
}

@media (max-width: 576px) {
    .casino-games-container .gameListSection .section-outer .inner-section.mobile .card-game-list .bg {
        width: auto
    }
}

.casino-games-container .gameListSection .section-outer .inner-section.mobile .card-wrapper.play-button:hover .content-overlay {
    display: none
}

.casino-games-container .gameListSection .section-outer .inner-section.mobile .card-wrapper .game-play-button .click-to-play i {
    opacity: 0
}

.games-list.alternative .thumbnail {
    padding-top: 135%
}

@media (max-width: 576px) {
    .games-list.alternative .thumbnail {
        padding-top: 125%
    }
}

.games-list.originals .thumbnail {
    padding-top: 135% !important
}

@media (max-width: 576px) {
    .games-list.originals .thumbnail {
        padding-top: 125% !important
    }
}

.games-list.title,
.mobile .games-list.title {
    padding-top: 0;
    padding-bottom: 10px
}

.games-list {
    margin: 0
}

.games-list.small-list {
    margin-right: 0;
    margin-left: 0
}

.mobile .games-list.limited-games-list {
    overflow-x: scroll;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    min-width: 100%;
}

.mobile .games-list.limited-games-list .casino-game.mobile {
    flex: 0 0 45%;
    max-width: 45%
}

.mobile .games-list.limited-games-list .casino-game.mobile:first-child {
    margin-left: 15px
}

.search-container button {
    background: transparent !important;
    background-color: transparent !important;
    color: var(--search-input-text);
    opacity: .5;
    padding-top: 4px
}

.search-container button i {
    font-size: 20px
}

.search-container {
    margin-left: auto;
    order: 2;
    width: auto;
    font-size: 90%
}

@media (max-width: 992px) {
    .search-container {
        margin-top: 0;
        margin-right: 10px
    }
}

.search-container .input-group {
    padding: 0;
    height: auto;
    outline: none;
    border: none;
    border-radius: 25px
}

.search-container .input-group .form-control {
    background: transparent;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px
}

.search-container .btn {
    color: var(--search-input-text);
    opacity: .4;
    padding-right: 20px;
    display: flex;
    align-items: center
}

.search-container button {
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    padding-right: 10px
}

.search-container input:focus,
.search-container input {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none
}

.mobile-search {
    display: flex;
    margin: 0 -10px;
    padding-bottom: 5px
}

.mobile-search .search-container {
    float: none;
    display: block;
    width: 100%
}

.mobile-search.focused {
    padding-top: 4px;
    position: absolute;
    left: 0;
    top: 10;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: block;
    right: 0;
    margin: 0;
    background-color: var(--main-background)
}

.mobile-search .btn {
    padding-top: 4px
}

.mobile-search .search-container .input-group {
    background-color: var(--search-input);
    font-size: 15px !important
}

.mobile-search .search-results-container {
    z-index: 20;
    height: 100%;
    width: 100%
}

.mobile-search .search-results-container .search-results-inner-container {
    width: 100%;
    max-height: none;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    padding-right: 0;
    background-color: var(--popup-background)
}

.mobile-search .search-results-container .search-results-inner-container .game-result-row .game-name,
.mobile-search .search-results-container .search-results-inner-container .game-result-row .game-studio {
    color: var(--popup-dark-text)
}

.mobile-search .search-results-container .search-results-inner-container .game-result-row:hover .game-name,
.mobile-search .search-results-container .search-results-inner-container .game-result-row:hover .game-studio,
.mobile-search .search-results-container .search-results-inner-container .game-result-row.selected .game-name,
.mobile-search .search-results-container .search-results-inner-container .game-result-row.selected .game-studio {
    color: var(--popup-search)
}