*,
*::before,
*::after {
    box-sizing: border-box;
}

.profile {
    display: flex;
    gap: 20px;
    max-width: 1600px;
    margin: 0 auto;
}

.profile .tab_selector {
    margin-bottom: 0;
}

.profile__left {
    flex: 0 0 320px;
}

.profile__right {
    flex: 1;
}

.profile__content {
    width: 100%;
    padding: 0 24px;
    margin-bottom: 20px;
}

.profile__menu {
    width: 100%;
    padding: 8px;
    background: var(--profile_menu_bg);
    color: var(--profile_menu_color);
    border-radius: var(--main_radius);
    margin-bottom: 20px;
}

.profile-info {
    padding: 15px;
    margin-bottom: 10px;
    background: var(--profile_menu_header_bg);
    color: var(--profile_menu_header_color);
    border-radius: var(--secondary_radius);
    align-items: center;
}

.profile-info__login {
    font-size: 22px;
    font-weight: 700;
}

.profile-info__id {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--profile_menu_header_color);
    opacity: .5;
}

.menu__row {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 12px;
    text-decoration: none;
    color: var(--profile_menu_color);
    border-radius: var(--secondary_radius);
    cursor: pointer;
}

.menu__row:not(:last-child) {
    margin-bottom: 10px;
}

.menu__row.active {
    background: var(--profile_menu_active_bg);
    color: var(--profile_menu_active_color);
}

.menu__row--icon {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
}

.menu__row--icon svg {
    width: 24px;
    height: 24px;
}

.menu__row--title {
    font-weight: 600;
}

.page__title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #272727;
}

.page__title>span {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.page__back {
    display: none;
    padding: 0 5px;
}

.page__back svg {
    height: 18px;
    color: var(--text_color);
}

.page__content {
    margin-top: 20px;
}

.profile .button {
    position: relative;
    width: auto;
    min-width: 120px;
    padding: 10px 15px;
    background: var(--profile_menu_btn_bg);
    color: var(--profile_menu_btn_color);
    border: 0;
    border-radius: var(--secondary_radius);
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.button[disabled] {
    opacity: .6;
    pointer-events: none;
}


@media (max-width: 1000px) {
    .page__title {
        font-size: 22px;
        display: none;
    }

    .page__back {
        display: block;
    }

    .profile {
        display: block;
    }

    .profile__menu{
        padding: 0;
    }

    /* .profile__left {
        display: none;
    } */

    .profile__block {
        padding: 0 15px;
    }
}

@media (max-width: 868px) {
    .page .tab_selector a {
        min-width: auto;
        font-size: 14px;
    }

    .settings__columns {
        flex-direction: column
    }

    .profile__content {
        padding: 0px;
    }
}


.settings div.input-block input,
.settings div.input-block select {
    background: var(--profile_input_bg);
    color: var(--profile_input_color);
    border-radius: var(--secondary_radius);
}

.settings div.input-block select option {
    color: initial;
}

.settings div.input-block span.placeholder {
    color: var(--profile_input_color);
    opacity: .6;
}

.settings div.input-block input:focus+span.placeholder,
.settings div.input-block select:focus+span.placeholder {
    color: var(--profile_input_color);
}

.settings__columns {
    display: flex;
    gap: 15px;
}

.settings__column {
    flex: 1;
}

.profile-bonus {
    background: var(--profile_history_row_bg);
    color: var(--profile_history_row_color);
    border-radius: var(--main_radius);
}

.profile-bonus:not(:last-child) {
    margin-bottom: 10px;
}

.profile-bonus__header {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding: 20px;
}

.profile-bonus__content {
    padding: 20px;
}

.profile-bonus__header--name {
    font-weight: 600;
}

.profile-bonus__header--status {
    margin-left: auto;
}

.profile-bonus__row {
    display: flex;
}

.profile-bonus__row:not(:last-child) {
    margin-bottom: 10px;
}

.profile-bonus__row--title {
    color: #9196a4;
}

.profile-bonus__row--value {
    margin-left: auto;
}

.verification-container {
    position: relative;
}

.verification-blocks {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.verification-bottom {
    text-align: center;
}

.verification-block {
    background: var(--profile_verification_block_bg);
    color: var(--profile_verification_block_color);
    border-radius: var(--main_radius);
    padding: 25px;
    max-width: 360px;
    width: 100%;

}

.verification-block__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.verification-block__upload {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.upload {
    flex: 1;
    text-align: center;
}

.upload .upload__button {
    display: flex;
    height: 100px;
    position: relative;
    border: 1px dashed rgba(255, 255, 255, .2);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.upload .upload__button input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload .upload__preview {
    width: 100%;
    max-width: 150px;
    margin-top: 15px;
    border-radius: 4px;
}

.verification-block ul {
    padding-left: 30px;
}

.verification-block li {
    margin-bottom: 5px;
}

.verification-status {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: calc(100% + 20px);
    border-radius: var(--main_radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    z-index: 1;
    background: rgb(0 0 0 / 50%);
}

.verification-status+.verification-blocks {
    opacity: 0.4
}

@media (max-width: 868px) {
    .verification-blocks {
        flex-direction: column;
        align-items: center;
    }

    .verification-container {
        padding-left: 0;
        padding-right: 0;
    }

}

@media (max-width: 600px) {
    .verification-block {
        width: 100%;
        max-width: none;
    }

}

.loading {
    text-align: center;
    padding: 40px;
    font-weight: 600;
    opacity: .7;
}

.empty {
    text-align: center;
    padding: 40px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.pagination button {
    padding: 10px 15px;
    background: var(--profile_menu_bg);
    color: var(--profile_menu_color);
    border: none;
    border-radius: var(--secondary_radius);
    cursor: pointer;
}

.pagination span {
    font-weight: 600;
    cursor: pointer;
}

.pagination button:disabled {
    pointer-events: none;
    opacity: .7
}

.history-row {
    margin-bottom: 5px;
    padding: 20px;
    background: linear-gradient(110deg, rgb(30, 40, 63), rgba(28, 38, 64, 0.6) 100%);
    color: #fff;
    border-radius: var(--main_radius);
}

.history-row .history-row__info {
    display: flex;
    justify-content: space-between;
}

.history-row .history-row__info svg {
    fill: rgba(255, 255, 255, .3);
}

.history-row .history-row__details {
    margin-top: 5px;
    font-size: 12px;
    padding: 5px;
}

.profile-menu-blocker {
    padding: 0;

}

#profile-menu {
    width: 100%;
    height: 100%;
    max-width: none;
    background: var(--body_bg);
    padding: 0;
}

#profile-menu .modal-close {
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    background-image: url(../img/modal_close.svg);
    cursor: pointer;

}

#profile-menu .profile__menu {
    width: auto;
    color: #fff;
    margin: 20px;
}

.bets .bets__header {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    align-items: center;
    color: #717171;
    font-weight: 600;
    padding: 10px 20px;
}

.bets .bet {
    background: var(--profile_history_row_bg);
    color: var(--profile_history_row_color);
    border-radius: var(--main_radius);
}

.bets .bet:not(.accordion) {
    padding: 20px;
}

.bets .bet:not(:last-child) {
    margin-bottom: 10px;
}

.bets .bet .accordion__header {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    padding: 20px;
    align-items: center;
}

.bets .bet.accordion.opened .accordion__header {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.bets .bet .accordion__content {
    padding: 20px;
}

.bets .bet .bet__row {
    display: flex;
}

.bets .bet .bet__row:not(:last-child) {
    margin-bottom: 10px;
}

.bets .bet .bet__row--title {
    color: #9196a4;
}

.bets .bet .bet__row--value {
    text-align: right;
    margin-left: auto;
}

.bets .bet .bet__win {
    color: #01BA77;
}

.bets .bet .bet__header--title {
    display: flex;
    flex-direction: column;
}

.accordion__header {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.accordion__arrow {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 0;
    height: 18px;
}

.accordion.opened .accordion__arrow {
    transform: translate(-50%, -50%) rotate(180deg);
}

.accordion__arrow svg {
    width: 18px;
    height: 18px;
}

.promocode {
    background: var(--profile_menu_bg);
    color: var(--profile_menu_color);
    padding: 20px 25px 20px 25px;
    border-radius: var(--main_radius);
}

.promocode button {
    background: var(--profile_menu_btn_bg);
    color: var(--profile_menu_btn_color);
    font-weight: 600;
    font-size: 14px;
    border: 0;
    border-radius: var(--secondary_radius);
    text-align: center;
    color: var(--primary_btn_color);
    padding: 15px 15px;
    min-width: 130px;
}

.promocode .promocode__title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.promocode .promocode__input {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
    background: var(--input_bg);
    border-radius: var(--secondary_radius);
}

.promocode input {
    all: unset;
    flex: 1;
    background: transparent;
    color: var(--input_color);
    border: 0;
    padding: 10px;
}